<div class="container main-container">
  <h3><span class="text-muted">Teste de:</span> Interpolation</h3>
  <br>
  <p>
    Identificamos {{ contadorCliques }} cliques realizados!
  </p>
  <hr>
  <br>
  <h3><span class="text-muted">Teste de:</span> Property Binding</h3>
  <br>
  <button class="btn btn-danger" [disabled]="contadorCliques < 10" (click)="adicionarClique()">{{ textoBotao10Cliques }}</button>
  <br><br>
  <figure class="figure">
    <img [src]="imgLink" height="150px" width="auto" class="figure-img img-fluid" alt="Software Solutions logo" />
    <figcaption class="figure-caption">Imagem: Software Solutions</figcaption>
  </figure>
  <hr>
  <br>
  <h3><span class="text-muted">Teste de:</span> Event Binding</h3>
  <br>
  <button class="btn btn-warning" (click)="adicionarClique()">CLIQUE AQUI!</button>
  &nbsp;
  <button class="btn btn-secondary" (click)="zerarCliques()" [disabled]="contadorCliques < 10">ZERAR CLIQUES</button>
  <br>
  <hr>
  <br>
  <h3><span class="text-muted">Teste de:</span> Two-way Binding</h3>
  <input type="text" (keyup)="apertouATecla($event)" placeholder="Digite aqui o texto">
  &nbsp;
  <label>Mensagem: "{{ nome | uppercase }}"</label>
  <br>
</div>