<!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand" ><img id="logo_topo" src="https://dataxstudios.com.br/assets/images/logo_DXS_400_190.png" alt="DXS | DATAXSTUDIOS" height="50px"
        [routerLink]="['/loja']" routerLinkActive="router-link-active"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/loja']" routerLinkActive="router-link-active">Produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/sobre']" routerLinkActive="router-link-active">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contato']" routerLinkActive="router-link-active">Contato</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/apps']" routerLinkActive="router-link-active">Apps</a>
            </li>
        </ul> 
      </div>
    </div>
  </nav>
<!-- FIM Navigation -->